<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Intercom Tools</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Intercom API Scaffold</a>
        </div>
      </div>
    </nav>
    <div class="jumbotron">
      <div class="container"></br>
    </br>
      <p>Simple template for making API requests via web form 🙌 Will respect the API rate limit of your app and cool off accordingly.</p>
    </div>

    <div class="container">
      <!-- Form object that POSTS to /function on submission. Will store passed fields as attributes -->
      <form method="POST" action="/function" style="width:50%">
        <div class="form-group">
        <p>Provide your <strong><a href="https://developers.intercom.com/docs/personal-access-tokens">token</a></strong> 🛠</p>
        <input type="text" class="form-control" name="pat">
      </div>

      <div class="form-group">
        <p>Field #️⃣1️⃣ </p>
        <input type="text" class="form-control" id="inbox" name="inbox_id">
      </div>

      <div class="form-group">
        <p>Field #️⃣2️⃣ </p>
        <input type="text" class="form-control" id="admin" name="admin_id">
      </div>

      <button type="submit" class="btn btn-success">Submit</button>
    </form>
    <p style="font-size:small;padding-top:20px;">Contribute <a href="https://github.com/christmmurphy/intercom-api-scaffold">here</a>.</p>
  </div>
</div>
</body>
</html>
